body {
	background-image: url("image1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

.forgot-password-container {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
	padding: 30px;
	margin: 50px auto;
	max-width: 400px;
	text-align: center;
}

.forgot-password-container h1 {
	margin-top: 0;
}

.forgot-password-container p {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
	text-align: left;
}

input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  

input[type=submit] {
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
	cursor: pointer;
	font-size: 16px;
	transition: all 0.3s ease-in-out;
}

input[type=submit]:hover {
	background-color: #3e8e41;
}
a {
	position: absolute;
	bottom: 41%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 17px;
	padding: 10px 20px;
	background-color: #09a4e1;
	border-radius: 10px;
	text-decoration: none;
  }

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
	color: #fff;
	background-color: #06f;
	text-shadow: none;
	border-radius: 5px;
	padding: 10px 20px;
	text-decoration: underline;
}