<!DOCTYPE html>
<html>
  <head>
    <title>Registration Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='registration.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Registration</h1>
      <form action="/register" method="POST" autocomplete="off" onsubmit="return validateForm()">
        <div class="form-group">
          <label for="name">Full Name:</label>
          <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
          <label for="security-key">Security Key:</label>
          <input type="text" id="security-key" name="security-key" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" name="password" required minlength="5" required>
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirm Password:</label>
          <input type="password" class="form-control" id="confirm-password" name="confirm-password" required minlength="5" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <script>
        function validateForm() {
          var password = document.getElementById("password").value;
          var confirmPassword = document.getElementById("confirm-password").value;
          if (password != confirmPassword) {
            alert("Error: Passwords do not match");
            return false;
          }
          return true;
       }
      </script>
      <p>Already have an account? <a href="{{url_for('login')}}">Log in</a></p>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
