<!DOCTYPE html>
<html>
<head>
	<title>Reset Password</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
</head>
<body>
	<div class="reset-password-container">
		<h1>Reset Password</h1>
		<form action="/reset" method="POST" autocomplete="off">
			<label for="new-password">New Password:</label><br>
			<input type="password" id="new-password" name="new-password" required minlength="5" required><br>
			<label for="confirm-password">Confirm Password:</label><br>
			<input type="password" id="confirm-password" name="confirm-password" required minlength="5" required><br>
			<input type="submit" value="Reset Password">
		</form>
		<a href="{{url_for('forgot')}}">Back</a>
	</div>
</body>
</html>
